<!-- ADD SERVER FORM -->
<button
  (click)="showServerForm = !showServerForm"
  class="btn btn-dark mb-3 mt-3"
>
  Add Server&nbsp;&nbsp;&nbsp;&nbsp;<fa-icon
    [icon]="showServerForm ? iCollapse : iExpand"
  ></fa-icon>
</button>
<h4 *ngIf="!loaded">Loading servers...</h4>
<!-- OUTER FORM CONTAINER -->
<div class="container">
  <div
    *ngIf="(showServerForm || isEditing) && loaded"
    class="card card-body mb-3"
  >
    <form #serverForm="ngForm">
      <div class="row">
        <!-- SERVER NAME (MANAGER) -->
        <div class="col-sm-4">
          <div class="form-group">
            <label>Instance Name&nbsp;<small>(local use)</small></label>
            <input
              [(ngModel)]="currentServer.name"
              type="text"
              class="form-control"
              name="name"
              #name="ngModel"
              required
              [ngClass]="{ 'is-invalid': name.errors && name.touched }"
            />
            <div class="invalid-feedback" [hidden]="!name.errors?.required">
              Instance Name is a required field
            </div>
          </div>
        </div>
        <!-- SERVER NAME (GAME) -->
        <div class="col-sm-4">
          <div class="form-group">
            <label>Server Name&nbsp;<small>(in game)</small></label>
            <input
              [(ngModel)]="currentServer.settings.serverName"
              type="text"
              class="form-control"
              name="serverName"
              #serverName="ngModel"
              required
              [ngClass]="{
                'is-invalid': serverName.errors && serverName.touched
              }"
            />
            <div
              class="invalid-feedback"
              [hidden]="!serverName.errors?.required"
            >
              Server Name is a required field
            </div>
          </div>
        </div>
        <!-- EVENT SELECTION -->
        <div class="col-sm-4">
          <div class="form-group">
            <label for="eventSelection">Event</label>
            <select
              [(ngModel)]="currentServer.eventId"
              name="eventSelection"
              class="form-control"
              #eventSelection="ngModel"
              required
              [ngClass]="{
                'is-invalid': eventSelection.errors && eventSelection.touched
              }"
            >
              <option *ngFor="let event of events" value="{{ event._id }}">
                {{ event.name }}
              </option>
            </select>
            <div
              class="invalid-feedback"
              [hidden]="!eventSelection.errors?.required"
            >
              Event is a required field
            </div>
          </div>
        </div>
      </div>
      <!-- CONFIG CARD -->
      <div class="card mt-2">
        <div class="card-header"><h4>Configuration</h4></div>
        <div class="card-body">
          <div class="row">
            <!-- TCP PORT -->
            <div class="col-sm-4">
              <div class="form-group">
                <label>TCP Port</label>
                <input
                  [(ngModel)]="currentServer.configuration.tcpPort"
                  type="text"
                  class="form-control"
                  name="tcpPort"
                  #tcpPort="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': tcpPort.errors && tcpPort.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!tcpPort.errors?.required"
                >
                  TCP Port is a required field
                </div>
              </div>
            </div>
            <!-- UDP PORT -->
            <div class="col-sm-4">
              <div class="form-group">
                <label>UDP Port</label>
                <input
                  [(ngModel)]="currentServer.configuration.udpPort"
                  type="text"
                  class="form-control"
                  name="udpPort"
                  #udpPort="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': udpPort.errors && udpPort.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!udpPort.errors?.required"
                >
                  UDP Port is a required field
                </div>
              </div>
            </div>
            <!-- MAX CONNECTIONS -->
            <div class="col-sm-4">
              <div class="form-group">
                <label>Max Connections</label>
                <input
                  [(ngModel)]="currentServer.configuration.maxConnections"
                  type="text"
                  class="form-control"
                  name="maxConnections"
                  #maxConnections="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid':
                      maxConnections.errors && maxConnections.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!maxConnections.errors?.required"
                >
                  Max Connections is a required field
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- REGISTER TO LOBBY -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="toLobby">Register to Lobby</label>
                <select
                  [(ngModel)]="currentServer.configuration.registerToLobby"
                  name="toLobby"
                  class="form-control"
                  #toLobby="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': toLobby.errors && toLobby.touched
                  }"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
                <div
                  class="invalid-feedback"
                  [hidden]="!toLobby.errors?.required"
                >
                  Register to Lobby is a required field
                </div>
              </div>
            </div>
            <!-- LAN DISCOVERY -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="lanDiscovery">LAN Discovery</label>
                <select
                  [(ngModel)]="currentServer.configuration.lanDiscovery"
                  name="lanDiscovery"
                  class="form-control"
                  #lanDiscovery="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': lanDiscovery.errors && lanDiscovery.touched
                  }"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
                <div
                  class="invalid-feedback"
                  [hidden]="!lanDiscovery.errors?.required"
                >
                  LAN Discovery is a required field
                </div>
              </div>
            </div>
            <!-- CONFIG VERSION -->
            <div class="col-sm-4">
              <div class="form-group">
                <label>Config Version</label>
                <input
                  [(ngModel)]="currentServer.configuration.configVersion"
                  type="text"
                  class="form-control"
                  name="configVersion"
                  #configVersion="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': configVersion.errors && configVersion.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!configVersion.errors?.required"
                >
                  Config Version is a required field
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- CONFIG CARD END -->
      <!-- SETTINGS CARD -->
      <div class="card mt-2">
        <div class="card-header"><h4>Settings</h4></div>
        <div class="card-body">
          <div class="row">
            <!-- ADMIN PASSWORD text -->
            <div class="col-sm-4">
              <div class="form-group">
                <label>Admin Password</label>
                <input
                  [(ngModel)]="currentServer.settings.adminPassword"
                  type="text"
                  class="form-control"
                  name="adminPassword"
                  #adminPassword="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': adminPassword.errors && adminPassword.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!adminPassword.errors?.required"
                >
                  Admin Password is a required field
                </div>
              </div>
            </div>
            <!-- CAR GROUP select -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="carGroup">Car Group</label>
                <select
                  [(ngModel)]="currentServer.settings.carGroup"
                  name="carGroup"
                  class="form-control"
                  #carGroup="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': carGroup.errors && carGroup.touched
                  }"
                >
                  <option value="FreeForAll">Free for All</option>
                  <option value="GT3">GT3</option>
                  <option value="GT4">GT4</option>
                  <option value="CUP">CUP</option>
                  <option value="ST">ST</option>
                </select>
                <div
                  class="invalid-feedback"
                  [hidden]="!carGroup.errors?.required"
                >
                  Car Group is a required field
                </div>
              </div>
            </div>
            <!-- TRACK MEDALS REQUIREMENT select -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="medalReq">Track Medal Requirement</label>
                <select
                  [(ngModel)]="currentServer.settings.trackMedalsRequirement"
                  name="medalReq"
                  class="form-control"
                  #medalReq="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': medalReq.errors && medalReq.touched
                  }"
                >
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
                <div
                  class="invalid-feedback"
                  [hidden]="!medalReq.errors?.required"
                >
                  Track Medal Requirement is a required field
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- PASSWORD text -->
            <div class="col-sm-4">
              <div class="form-group">
                <label>Password</label>
                <input
                  [(ngModel)]="currentServer.settings.password"
                  type="text"
                  class="form-control"
                  name="password"
                />
              </div>
            </div>
            <!-- MAX CAR SLOTS text -->
            <div class="col-sm-4">
              <div class="form-group">
                <label>Max Car Slots</label>
                <input
                  [(ngModel)]="currentServer.settings.maxCarSlots"
                  type="text"
                  class="form-control"
                  name="maxCarSlots"
                  #maxCarSlots="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': maxCarSlots.errors && maxCarSlots.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!maxCarSlots.errors?.required"
                >
                  Max Car Slots is a required field
                </div>
              </div>
            </div>
            <!-- DUMP LEADERBOARDS select yes no -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="dumpLeader">Dump Leaderboards</label>
                <select
                  [(ngModel)]="currentServer.settings.dumpLeaderboards"
                  name="dumpLeader"
                  class="form-control"
                  #dumpLeader="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': dumpLeader.errors && dumpLeader.touched
                  }"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
                <div
                  class="invalid-feedback"
                  [hidden]="!dumpLeader.errors?.required"
                >
                  Dump Leaderboards is a required field
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- SPECTATOR PASSWORD text -->
            <div class="col-sm-4">
              <div class="form-group">
                <label>Spectator Password</label>
                <input
                  [(ngModel)]="currentServer.settings.spectatorPassword"
                  type="text"
                  class="form-control"
                  name="specPassword"
                />
              </div>
            </div>
            <!-- FORMATION LAP TYPE select -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="formLapType">Formation Lap Type</label>
                <select
                  [(ngModel)]="currentServer.settings.formationLapType"
                  name="formLapType"
                  class="form-control"
                  #formLapType="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': formLapType.errors && formLapType.touched
                  }"
                >
                  <option value="0">Old Lap Limiter</option>
                  <option value="1">Free (Private Only)</option>
                  <option value="3">Default</option>
                </select>
                <div
                  class="invalid-feedback"
                  [hidden]="!formLapType.errors?.required"
                >
                  Formation Lap Type is a required field
                </div>
              </div>
            </div>
            <!-- ALLOW DQ select yes no -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="allowDQ">Allow Auto DQ</label>
                <select
                  [(ngModel)]="currentServer.settings.allowAutoDQ"
                  name="allowDQ"
                  class="form-control"
                  #allowDQ="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': allowDQ.errors && allowDQ.touched
                  }"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
                <div
                  class="invalid-feedback"
                  [hidden]="!allowDQ.errors?.required"
                >
                  Allow Auto DQ is a required field
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- SAFETY REQUIREMENT text -->
            <div class="col-sm-4">
              <div class="form-group">
                <label>Safety Rating Requirement</label>
                <input
                  [(ngModel)]="currentServer.settings.safetyRatingRequirement"
                  type="text"
                  class="form-control"
                  name="safetyReq"
                  #safetyReq="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': safetyReq.errors && safetyReq.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!safetyReq.errors?.required"
                >
                  Saftey Rating Requirement is a required field
                </div>
              </div>
            </div>
            <!-- IS RACE LOCKED select yes no -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="raceLocked">Race Locked</label>
                <select
                  [(ngModel)]="currentServer.settings.isRaceLocked"
                  name="raceLocked"
                  class="form-control"
                  #raceLocked="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': raceLocked.errors && raceLocked.touched
                  }"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
                <div
                  class="invalid-feedback"
                  [hidden]="!raceLocked.errors?.required"
                >
                  Race Locked is a required field
                </div>
              </div>
            </div>
            <!-- DUMP ENTRY LIST select yes no -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="dumpEntry">Dump Entry List</label>
                <select
                  [(ngModel)]="currentServer.settings.dumpEntryList"
                  name="dumpEntry"
                  class="form-control"
                  #dumpEntry="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': dumpEntry.errors && dumpEntry.touched
                  }"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
                <div
                  class="invalid-feedback"
                  [hidden]="!dumpEntry.errors?.required"
                >
                  Dump Entry List is a required field
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- SHORT FORMATION select yes no -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="shortFormLap">Short Formation Lap</label>
                <select
                  [(ngModel)]="currentServer.settings.shortFormationLap"
                  name="shortFormLap"
                  class="form-control"
                  #shortFormLap="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': shortFormLap.errors && shortFormLap.touched
                  }"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
                <div
                  class="invalid-feedback"
                  [hidden]="!shortFormLap.errors?.required"
                >
                  Short Formation Lap is a required field
                </div>
              </div>
            </div>
            <!-- RACECRAFT REQUIREMENT text -->
            <div class="col-sm-4">
              <div class="form-group">
                <label>Racecraft Rating Requirement</label>
                <input
                  [(ngModel)]="
                    currentServer.settings.racecraftRatingRequirement
                  "
                  type="text"
                  class="form-control"
                  name="racecraftReq"
                  #racecraftReq="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': racecraftReq.errors && racecraftReq.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!racecraftReq.errors?.required"
                >
                  Racecraft Rating Requirement is a required field
                </div>
              </div>
            </div>
            <!-- RANDOMIZE WHEN EMPTY select yes no -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="randEmpty">Randomize Track When Empty</label>
                <select
                  [(ngModel)]="currentServer.settings.randomizeTrackWhenEmpty"
                  name="randEmpty"
                  class="form-control"
                  #randEmpty="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': randEmpty.errors && randEmpty.touched
                  }"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
                <div
                  class="invalid-feedback"
                  [hidden]="!randEmpty.errors?.required"
                >
                  Randomize Track When Empty is a required field
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SETTINGS CARD END -->
      <!-- ASSIST RULES CARD -->
      <div class="card mt-2">
        <div class="card-header"><h4>Assit Rules</h4></div>
        <div class="card-body">
          <div class="row">
            <!-- STABILITY CONTROL LEVEL -->
            <div class="col-sm-4">
              <div class="form-group">
                <label>Max Stability Control Level</label>
                <input
                  [(ngModel)]="
                    currentServer.assistRules.stabilityControlLevelMax
                  "
                  type="text"
                  class="form-control"
                  name="maxSC"
                />
              </div>
            </div>
            <!-- AUTO STEER-->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="autoSteer">Disable Auto Steer</label>
                <select
                  [(ngModel)]="currentServer.assistRules.disableAutoSteer"
                  name="autoSteer"
                  class="form-control"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
            </div>
            <!-- IDEAL LINE -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="idealLine">Disable Ideal Line</label>
                <select
                  [(ngModel)]="currentServer.assistRules.disableIdealLine"
                  name="idealLine"
                  class="form-control"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- PIT LIMITER -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="pitLim">Disable Auto Pit Limiter</label>
                <select
                  [(ngModel)]="currentServer.assistRules.disableAutoPitLimiter"
                  name="pitLim"
                  class="form-control"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
            </div>
            <!-- AUTO GEAR -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="autoGear">Disable Auto Gears</label>
                <select
                  [(ngModel)]="currentServer.assistRules.disableAutoGear"
                  name="autoGear"
                  class="form-control"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
            </div>
            <!-- AUTO CLUTCH -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="autoClutch">Disable Auto Clutch</label>
                <select
                  [(ngModel)]="currentServer.assistRules.disableAutoClutch"
                  name="autoClutch"
                  class="form-control"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- AUTO ENGINE START -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="autoEngine">Disable Auto Engine Start</label>
                <select
                  [(ngModel)]="currentServer.assistRules.disableAutoEngineStart"
                  name="autoEngine"
                  class="form-control"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
            </div>
            <!-- AUTO WIPER -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="autoWiper">Disable Auto Wiper</label>
                <select
                  [(ngModel)]="currentServer.assistRules.disableAutoWiper"
                  name="autoWiper"
                  class="form-control"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
            </div>
            <!-- AUTO LIGHTS -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="autoLights">Disable Auto Lights</label>
                <select
                  [(ngModel)]="currentServer.assistRules.disableAutoLights"
                  name="autoLights"
                  class="form-control"
                >
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ASSIST RULES CARD END -->
      <!-- SUBMIT BUTTON -->
      <button
        *ngIf="!isEditing"
        [disabled]="!serverForm.form.valid"
        (click)="addServer(currentServer)"
        class="btn btn-dark mt-3"
      >
        Add New Event
      </button>
      <button
        *ngIf="isEditing"
        [disabled]="!serverForm.form.valid"
        (click)="updateServer()"
        class="btn btn-warning mt-3"
      >
        Update Event
      </button>
    </form>
  </div>
</div>
<!-- END OF OUTER FORM CONTAINER -->
