<form #sessionsForm="ngForm">
  <!-- ADD SESSION FORM -->
  <div class="card mt-2">
    <div class="card-header"><h4>Sessions</h4></div>
    <div class="card-body">
      <div class="row">
        <!-- SESSION 0 -->
        <div class="col-sm-4">
          <!-- SESSION TYPE -->
          <div class="form-group">
            <label for="sessionType0">Type</label>
            <select
              [(ngModel)]="sessions[0].sessionType"
              name="sessionType0"
              class="form-control"
              required
              #sessionType0="ngModel"
              [ngClass]="{
                'is-invalid': sessionType0.errors && sessionType0.touched
              }"
            >
              <option value="P">Practice</option>
              <option value="Q">Qualifying</option>
              <option value="R">Race</option>
            </select>
            <div
              [hidden]="!sessionType0.errors?.required"
              class="invalid-feedback"
            >
              Type is a required field
            </div>
          </div>
          <!-- DAY OF WEEKEND -->
          <div class="form-group">
            <label for="dayOfWeekend0">Day</label>
            <select
              [(ngModel)]="sessions[0].dayOfWeekend"
              name="dayOfWeekend0"
              class="form-control"
              required
              #dayOfWeekend0="ngModel"
              [ngClass]="{
                'is-invalid': dayOfWeekend0.errors && dayOfWeekend0.touched
              }"
            >
              <option value="1">Friday</option>
              <option value="2">Saturday</option>
              <option value="3">Sunday</option>
            </select>
            <div
              [hidden]="!dayOfWeekend0.errors?.required"
              class="invalid-feedback"
            >
              Day is a required field
            </div>
          </div>
          <!-- HOUR OF DAY -->
          <div class="form-group">
            <label>Start Hour (24hr)</label>
            <input
              [(ngModel)]="sessions[0].hourOfDay"
              name="hourOfDay0"
              class="form-control"
              #hourOfDay0="ngModel"
              required
              min="0"
              max="23"
              [ngClass]="{
                'is-invalid': hourOfDay0.errors && hourOfDay0.touched
              }"
            />
            <div
              [hidden]="!hourOfDay0.errors?.required"
              class="invalid-feedback"
            >
              Start Hour is a required field
            </div>
            <div [hidden]="!hourOfDay0.errors?.min" class="invalid-feedback">
              Start Hour must be 0 or greater
            </div>
            <div [hidden]="!hourOfDay0.errors?.max" class="invalid-feedback">
              Start Hour must be 23 or less
            </div>
          </div>
          <!-- DURATION -->
          <div class="form-group">
            <label>Duration (mins)</label>
            <input
              [(ngModel)]="sessions[0].sessionDurationMinutes"
              name="sessionDurationMinutes0"
              class="form-control"
              #sessionDurationMinutes0="ngModel"
              required
              [ngClass]="{
                'is-invalid':
                  sessionDurationMinutes0.errors &&
                  sessionDurationMinutes0.touched
              }"
            />
            <div
              [hidden]="!sessionDurationMinutes0.errors?.required"
              class="invalid-feedback"
            >
              Duration is a required field
            </div>
          </div>
          <!-- TIME MULTIPLIER -->
          <div class="form-group">
            <label>Time Multiplier</label>
            <input
              [(ngModel)]="sessions[0].timeMultiplier"
              name="timeMultiplier0"
              class="form-control"
              #timeMultiplier0="ngModel"
              required
              min="0"
              max="24"
              [ngClass]="{
                'is-invalid': timeMultiplier0.errors && timeMultiplier0.touched
              }"
            />
            <div
              [hidden]="!timeMultiplier0.errors?.required"
              class="invalid-feedback"
            >
              Time Multiplier is a required field
            </div>
            <div
              [hidden]="!timeMultiplier0.errors?.min"
              class="invalid-feedback"
            >
              Time Multiplier must be 0 or greater
            </div>
            <div
              [hidden]="!timeMultiplier0.errors?.max"
              class="invalid-feedback"
            >
              Time Multiplier must be 24 or less
            </div>
          </div>
        </div>
        <!-- SESSION 1 -->
        <div class="col-sm-4">
          <!-- SESSION TYPE -->
          <div class="form-group">
            <label for="sessionType1">Type</label>
            <select
              [(ngModel)]="sessions[1].sessionType"
              name="sessionType1"
              class="form-control"
              #sessionType1="ngModel"
              required
              [ngClass]="{
                'is-invalid': sessionType1.errors && sessionType1.touched
              }"
            >
              <option value="P">Practice</option>
              <option value="Q">Qualifying</option>
              <option value="R">Race</option>
            </select>
            <div
              [hidden]="!sessionType1.errors?.required"
              class="invalid-feedback"
            >
              Type is a required field
            </div>
          </div>
          <!-- DAY OF WEEKEND -->
          <div class="form-group">
            <label for="dayOfWeekend1">Day</label>
            <select
              [(ngModel)]="sessions[1].dayOfWeekend"
              name="dayOfWeekend1"
              class="form-control"
              required
              #dayOfWeekend1="ngModel"
              [ngClass]="{
                'is-invalid': dayOfWeekend1.errors && dayOfWeekend1.touched
              }"
            >
              <option value="1">Friday</option>
              <option value="2">Saturday</option>
              <option value="3">Sunday</option>
            </select>
            <div
              [hidden]="!dayOfWeekend1.errors?.required"
              class="invalid-feedback"
            >
              Day is a required field
            </div>
          </div>
          <!-- HOUR OF DAY -->
          <div class="form-group">
            <label>Start Hour (24hr)</label>
            <input
              [(ngModel)]="sessions[1].hourOfDay"
              name="hourOfDay"
              class="form-control"
              #hourOfDay1="ngModel"
              required
              min="0"
              max="23"
              [ngClass]="{
                'is-invalid': hourOfDay1.errors && hourOfDay1.touched
              }"
            />
            <div
              [hidden]="!hourOfDay1.errors?.required"
              class="invalid-feedback"
            >
              Start Hour is a required field
            </div>
            <div [hidden]="!hourOfDay1.errors?.min" class="invalid-feedback">
              Start Hour must be 0 or greater
            </div>
            <div [hidden]="!hourOfDay1.errors?.max" class="invalid-feedback">
              Start Hour must be 23 or less
            </div>
          </div>
          <!-- DURATION -->
          <div class="form-group">
            <label>Duration (mins)</label>
            <input
              [(ngModel)]="sessions[1].sessionDurationMinutes"
              name="sessionDurationMinutes1"
              class="form-control"
              #sessionDurationMinutes1="ngModel"
              required
              [ngClass]="{
                'is-invalid':
                  sessionDurationMinutes1.errors &&
                  sessionDurationMinutes1.touched
              }"
            />
            <div
              [hidden]="!sessionDurationMinutes1.errors?.required"
              class="invalid-feedback"
            >
              Duration is a required field
            </div>
          </div>
          <!-- TIME MULTIPLIER -->
          <div class="form-group">
            <label>Time Multiplier</label>
            <input
              [(ngModel)]="sessions[1].timeMultiplier"
              name="timeMultiplier1"
              class="form-control"
              #timeMultiplier1="ngModel"
              required
              min="0"
              max="24"
              [ngClass]="{
                'is-invalid': timeMultiplier1.errors && timeMultiplier1.touched
              }"
            />
            <div
              [hidden]="!timeMultiplier1.errors?.required"
              class="invalid-feedback"
            >
              Time Multiplier is a required field
            </div>
            <div
              [hidden]="!timeMultiplier1.errors?.min"
              class="invalid-feedback"
            >
              Time Multiplier must be 0 or greater
            </div>
            <div
              [hidden]="!timeMultiplier1.errors?.max"
              class="invalid-feedback"
            >
              Time Multiplier must be 24 or less
            </div>
          </div>
        </div>
        <!-- SESSION 2 -->
        <div class="col-sm-4">
          <!-- SESSION TYPE -->
          <div class="form-group">
            <label for="sessionType2">Type</label>
            <select
              [(ngModel)]="sessions[2].sessionType"
              name="sessionType2"
              class="form-control"
              #sessionType2="ngModel"
              required
              [ngClass]="{
                'is-invalid': sessionType2.errors && sessionType2.touched
              }"
            >
              <option value="P">Practice</option>
              <option value="Q">Qualifying</option>
              <option value="R">Race</option>
            </select>
            <div
              [hidden]="!sessionType2.errors?.required"
              class="invalid-feedback"
            >
              Type is a required field
            </div>
          </div>
          <!-- DAY OF WEEKEND -->
          <div class="form-group">
            <label for="dayOfWeekend2">Day</label>
            <select
              [(ngModel)]="sessions[2].dayOfWeekend"
              name="dayOfWeekend2"
              class="form-control"
              required
              #dayOfWeekend2="ngModel"
              [ngClass]="{
                'is-invalid': dayOfWeekend2.errors && dayOfWeekend2.touched
              }"
            >
              <option value="1">Friday</option>
              <option value="2">Saturday</option>
              <option value="3">Sunday</option>
            </select>
            <div
              [hidden]="!dayOfWeekend2.errors?.required"
              class="invalid-feedback"
            >
              Day is a required field
            </div>
          </div>
          <!-- HOUR OF DAY -->
          <div class="form-group">
            <label>Start Hour (24hr)</label>
            <input
              [(ngModel)]="sessions[2].hourOfDay"
              name="hourOfDay2"
              class="form-control"
              #hourOfDay2="ngModel"
              required
              min="0"
              max="23"
              [ngClass]="{
                'is-invalid': hourOfDay2.errors && hourOfDay2.touched
              }"
            />
            <div
              [hidden]="!hourOfDay2.errors?.required"
              class="invalid-feedback"
            >
              Start Hour is a required field
            </div>
            <div [hidden]="!hourOfDay2.errors?.min" class="invalid-feedback">
              Start Hour must be 0 or greater
            </div>
            <div [hidden]="!hourOfDay2.errors?.max" class="invalid-feedback">
              Start Hour must be 23 or less
            </div>
          </div>
          <!-- DURATION -->
          <div class="form-group">
            <label>Duration (mins)</label>
            <input
              [(ngModel)]="sessions[2].sessionDurationMinutes"
              name="sessionDurationMinutes2"
              class="form-control"
              #sessionDurationMinutes2="ngModel"
              required
              [ngClass]="{
                'is-invalid':
                  sessionDurationMinutes2.errors &&
                  sessionDurationMinutes2.touched
              }"
            />
            <div
              [hidden]="!sessionDurationMinutes2.errors?.required"
              class="invalid-feedback"
            >
              Duration is a required field
            </div>
          </div>
          <!-- TIME MULTIPLIER -->
          <div class="form-group">
            <label>Time Multiplier</label>
            <input
              [(ngModel)]="sessions[2].timeMultiplier"
              name="timeMultiplier2"
              class="form-control"
              #timeMultiplier2="ngModel"
              required
              min="0"
              max="24"
              [ngClass]="{
                'is-invalid': timeMultiplier2.errors && timeMultiplier2.touched
              }"
            />
            <div
              [hidden]="!timeMultiplier2.errors?.required"
              class="invalid-feedback"
            >
              Time Multiplier is a required field
            </div>
            <div
              [hidden]="!timeMultiplier2.errors?.min"
              class="invalid-feedback"
            >
              Time Multiplier must be 0 or greater
            </div>
            <div
              [hidden]="!timeMultiplier2.errors?.max"
              class="invalid-feedback"
            >
              Time Multiplier must be 24 or less
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
