<!-- ADD TRACK FORM -->
<button (click)="showTrackForm = !showTrackForm" class="btn btn-dark mb-3 mt-3">
  Add Tracks&nbsp;&nbsp;&nbsp;&nbsp;
  <fa-icon [icon]="showTrackForm ? iCollapse : iExpand"></fa-icon>
</button>
<div class="container">
  <div *ngIf="showTrackForm || isEditing" class="card card-body mb-3">
    <form #trackForm="ngForm">
      <!-- TRACK NAME -->
      <div class="form-group">
        <label>Track Name</label>
        <input
          [(ngModel)]="currentTrack.name"
          type="text"
          class="form-control"
          name="name"
          #trackName="ngModel"
          required
          [ngClass]="{ 'is-invalid': trackName.errors && trackName.touched }"
        />
        <div [hidden]="!trackName.errors?.required" class="invalid-feedback">
          Track Name is a required field
        </div>
      </div>
      <!-- SEASON VERSION -->
      <div class="form-group">
        <label>Season (Year)</label>
        <input
          [(ngModel)]="currentTrack.season"
          type="text"
          class="form-control"
          name="season"
          #trackSeason="ngModel"
          required
          [ngClass]="{
            'is-invalid': trackSeason.errors && trackSeason.touched
          }"
        />
        <div [hidden]="!trackSeason.errors?.required" class="invalid-feedback">
          Season is a required field
        </div>
      </div>
      <!-- PIT BOXES -->
      <div class="form-group">
        <label>Number of Pit Boxes</label>
        <input
          [(ngModel)]="currentTrack.pitBoxes"
          type="text"
          class="form-control"
          name="pitBoxes"
          #trackPitBoxes="ngModel"
          required
          [ngClass]="{
            'is-invalid': trackPitBoxes.errors && trackPitBoxes.touched
          }"
        />
        <div
          [hidden]="!trackPitBoxes.errors?.required"
          class="invalid-feedback"
        >
          Number of Pit Boxes is a required field
        </div>
      </div>
      <!-- PRIVATE SERVER SLOTS -->
      <div class="form-group">
        <label>Server Slots (Private)</label>
        <input
          [(ngModel)]="currentTrack.privateServerSlots"
          type="text"
          class="form-control"
          name="privateServerSlots"
          #trackPrivateServerSlots="ngModel"
          required
          [ngClass]="{
            'is-invalid':
              trackPrivateServerSlots.errors && trackPrivateServerSlots.touched
          }"
        />
        <div
          [hidden]="!trackPrivateServerSlots.errors?.required"
          class="invalid-feedback"
        >
          Server Slots is a required field
        </div>
      </div>
      <!-- SUBMIT BUTTON -->
      <button
        *ngIf="!isEditing"
        [disabled]="!trackForm.form.valid"
        (click)="addTrack(trackForm)"
        class="btn btn-dark mb-4"
      >
        Add New Track
      </button>
      <button
        *ngIf="isEditing"
        [disabled]="!trackForm.form.valid"
        (click)="updateTrack()"
        class="btn btn-warning mb-4"
      >
        Update Track
      </button>
    </form>
  </div>
</div>
