<!-- ADD EVENT FORM -->
<button (click)="showEventForm = !showEventForm" class="btn btn-dark mb-3 mt-3">
  Add Event&nbsp;&nbsp;&nbsp;&nbsp;<fa-icon
    [icon]="showEventForm ? iCollapse : iExpand"
  ></fa-icon>
</button>
<h4 *ngIf="!loaded">Loading events...</h4>
<div class="container">
  <div
    *ngIf="(showEventForm || isEditing) && loaded"
    class="card card-body mb-3"
  >
    <form #eventForm="ngForm">
      <div class="card mt-2">
        <div class="card-header"><h4>Details</h4></div>
        <div class="card-body">
          <!-- ROW 1 -->
          <div class="row">
            <!-- EVENT NAME -->
            <div class="col-sm-4">
              <div class="form-group">
                <label>Event Name</label>
                <input
                  [(ngModel)]="currentEvent.name"
                  type="text"
                  class="form-control"
                  name="name"
                  #eventName="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': eventName.errors && eventName.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!eventName.errors?.required"
                >
                  Event Name is a required field
                </div>
              </div>
            </div>
            <!-- TRACK -->
            <div class="col-sm-4">
              <div class="form-group">
                <label for="trackSelection">Track</label>
                <select
                  [(ngModel)]="currentEvent.detail.track"
                  name="trackSelection"
                  class="form-control"
                  #trackSelection="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid':
                      trackSelection.errors && trackSelection.touched
                  }"
                >
                  <option
                    *ngFor="let track of tracks"
                    value="{{ track.identifier }}"
                  >
                    {{ track.name }} {{ track.season }}
                  </option>
                </select>
                <div
                  class="invalid-feedback"
                  [hidden]="!trackSelection.errors?.required"
                >
                  Track is a required field
                </div>
              </div>
            </div>
            <!-- CONFIG VERSION -->
            <div class="col-sm-4">
              <div class="form-group">
                <label>Config Version</label>
                <input
                  [(ngModel)]="currentEvent.detail.configVersion"
                  type="text"
                  class="form-control"
                  name="configVersion"
                  #configVersion="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': configVersion.errors && configVersion.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!configVersion.errors?.required"
                >
                  Config Version is a required field
                </div>
              </div>
            </div>
          </div>
          <!-- Row 2 -->
          <div class="row">
            <!-- AMBIENT TEMP -->
            <div class="col-sm-3">
              <div class="form-group">
                <label>Ambient Temperature (Celcius)</label>
                <input
                  [(ngModel)]="currentEvent.detail.ambientTemp"
                  type="text"
                  class="form-control"
                  name="ambientTemp"
                  #ambientTemp="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': ambientTemp.errors && ambientTemp.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!ambientTemp.errors?.required"
                >
                  AmbientTemp is a required field
                </div>
              </div>
            </div>
            <!-- CLOUD LEVEL -->
            <div class="col-sm-3">
              <div class="form-group">
                <label>Cloud Level</label>
                <input
                  [(ngModel)]="currentEvent.detail.cloudLevel"
                  type="text"
                  class="form-control"
                  name="cloudLevel"
                  #cloudLevel="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': cloudLevel.errors && cloudLevel.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!cloudLevel.errors?.required"
                >
                  Cloud Level is a required field
                </div>
              </div>
            </div>
            <!-- WEATHER RANDOMNESS -->
            <div class="col-sm-3">
              <div class="form-group">
                <label>Weather Randomness</label>
                <input
                  [(ngModel)]="currentEvent.detail.weatherRandomness"
                  type="text"
                  class="form-control"
                  name="weatherRandomness"
                  #weatherRandomness="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid':
                      weatherRandomness.errors && weatherRandomness.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!weatherRandomness.errors?.required"
                >
                  Weather Randomness is a required field
                </div>
              </div>
            </div>
            <!-- RAIN -->
            <div class="col-sm-3">
              <div class="form-group">
                <label>Rain</label>
                <input
                  [(ngModel)]="currentEvent.detail.rain"
                  type="text"
                  class="form-control"
                  name="rain"
                  #rain="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': rain.errors && rain.touched
                  }"
                />
                <div class="invalid-feedback" [hidden]="!rain.errors?.required">
                  Rain is a required field
                </div>
              </div>
            </div>
          </div>
          <!-- ROW 3 -->
          <div class="row">
            <!-- PRE RACE WAITING TIME -->
            <div class="col-sm-3">
              <div class="form-group">
                <label>Pre Race Waiting Time (sec)</label>
                <input
                  [(ngModel)]="currentEvent.detail.preRaceWaitingTimeSeconds"
                  type="text"
                  class="form-control"
                  name="preRaceTime"
                  #preRaceTime="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': preRaceTime.errors && preRaceTime.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!preRaceTime.errors?.required"
                >
                  Pre Race Waiting Time is a required field
                </div>
              </div>
            </div>
            <!-- POST QUALIFYING TIME -->
            <div class="col-sm-3">
              <div class="form-group">
                <label>Post Qualifying Time (sec)</label>
                <input
                  [(ngModel)]="currentEvent.detail.postQualySeconds"
                  type="text"
                  class="form-control"
                  name="postQualyTime"
                  #postQualyTIme="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': postQualyTIme.errors && postQualyTIme.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!postQualyTIme.errors?.required"
                >
                  Post Qualifying Time is a required field
                </div>
              </div>
            </div>
            <!-- POST RACE TIME -->
            <div class="col-sm-3">
              <div class="form-group">
                <label>Post Race Time (sec)</label>
                <input
                  [(ngModel)]="currentEvent.detail.postRaceSeconds"
                  type="text"
                  class="form-control"
                  name="postRaceTime"
                  #postRaceTime="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': postRaceTime.errors && postRaceTime.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!postRaceTime.errors?.required"
                >
                  Post Race Time is a required field
                </div>
              </div>
            </div>
            <!-- SESSION OVER TIME -->
            <div class="col-sm-3">
              <div class="form-group">
                <label>Session Over Time (sec)</label>
                <input
                  [(ngModel)]="currentEvent.detail.sessionOverTimeSeconds"
                  type="text"
                  class="form-control"
                  name="sessionOverTime"
                  #sessionOverTime="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid':
                      sessionOverTime.errors && sessionOverTime.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!sessionOverTime.errors?.required"
                >
                  Session Over Time is a required field
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-header"><h4>Rules</h4></div>
        <div class="card-body">
          <!-- ROW 4 -->
          <div class="row">
            <!-- TYRE SETS -->
            <div class="col-sm-3">
              <div class="form-group">
                <label>Tyre Sets</label>
                <input
                  [(ngModel)]="currentEvent.rules.tyreSetCount"
                  type="text"
                  class="form-control"
                  name="tyreSets"
                  #tyreSets="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': tyreSets.errors && tyreSets.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!tyreSets.errors?.required"
                >
                  Tyre Sets is a required field
                </div>
              </div>
            </div>
            <!-- QUALY TYPE -->
            <div class="col-sm-3">
              <div class="form-group">
                <label>Qualifying Type</label>
                <input
                  [(ngModel)]="currentEvent.rules.qualifyStandingType"
                  type="text"
                  class="form-control"
                  name="qualyType"
                  #qualyType="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': qualyType.errors && qualyType.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!qualyType.errors?.required"
                >
                  Qualifying Type is a required field
                </div>
              </div>
            </div>
            <!-- MANDATORY PITSTOP COUNT -->
            <div class="col-sm-3">
              <div class="form-group">
                <label>Mandatory Pitstop Count</label>
                <input
                  [(ngModel)]="currentEvent.rules.mandatoryPitstopCount"
                  type="text"
                  class="form-control"
                  name="pitCount"
                  #pitCount="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': pitCount.errors && pitCount.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!pitCount.errors?.required"
                >
                  Mandatory Pitstop Count is a required field
                </div>
              </div>
            </div>
            <!-- MAX DRIVERS COUNT -->
            <div class="col-sm-3">
              <div class="form-group">
                <label>Max Drivers Count</label>
                <input
                  [(ngModel)]="currentEvent.rules.maxDriversCount"
                  type="text"
                  class="form-control"
                  name="driversCount"
                  #driversCount="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': driversCount.errors && driversCount.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!driversCount.errors?.required"
                >
                  Max Drivers Count is a required field
                </div>
              </div>
            </div>
          </div>
          <!-- ROW 5 -->
          <div class="row">
            <!-- PIT WINDOW LENGTH -->
            <div class="col-sm-3">
              <div class="form-group">
                <label>Pit Window Length (sec)</label>
                <input
                  [(ngModel)]="currentEvent.rules.pitWindowLengthSec"
                  type="text"
                  class="form-control"
                  name="pitWindowLength"
                  #pitWindowLength="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid':
                      pitWindowLength.errors && pitWindowLength.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!pitWindowLength.errors?.required"
                >
                  Pit Window Length is a required field
                </div>
              </div>
            </div>
            <!-- QUALY TYPE -->
            <div class="col-sm-3">
              <div class="form-group">
                <label>Driver Stint Length (sec)</label>
                <input
                  [(ngModel)]="currentEvent.rules.driverStintTimeSec"
                  type="text"
                  class="form-control"
                  name="driverStintTime"
                  #driverStintTime="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid':
                      driverStintTime.errors && driverStintTime.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!driverStintTime.errors?.required"
                >
                  Driver Stint Length is a required field
                </div>
              </div>
            </div>
            <!-- MAX DRIVING TIME -->
            <div class="col-sm-3">
              <div class="form-group">
                <label>Max Driving Time</label>
                <input
                  [(ngModel)]="currentEvent.rules.maxTotalDrivingTime"
                  type="text"
                  class="form-control"
                  name="maxDriveTime"
                  #maxDriveTime="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': maxDriveTime.errors && maxDriveTime.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  [hidden]="!maxDriveTime.errors?.required"
                >
                  Max Driving Time is a required field
                </div>
              </div>
            </div>
            <!-- Allow Refuelling -->
            <div class="col-sm-3">
              <div class="form-group">
                <label for="allowRefuelling">Allow Refuelling</label>
                <select
                  [(ngModel)]="currentEvent.rules.isRefuellingAllowedInRace"
                  name="allowRefuelling"
                  class="form-control"
                  #allowRefuelling="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid':
                      allowRefuelling.errors && allowRefuelling.touched
                  }"
                >
                  <option value="{{ true }}">Yes</option>
                  <option value="{{ false }}">No</option>
                </select>
                <div
                  class="invalid-feedback"
                  [hidden]="!allowRefuelling.errors?.required"
                >
                  Allow Refuelling is a required field
                </div>
              </div>
            </div>
          </div>
          <!-- ROW 6 -->
          <div class="row">
            <!-- FIXED REFUELLING TIME -->
            <div class="col-sm-3">
              <div class="form-group">
                <label for="fixedRefuelling">Fixed Refuelling Time</label>
                <select
                  [(ngModel)]="currentEvent.rules.isRefuellingTimeFixed"
                  name="fixedRefuelling"
                  class="form-control"
                  #fixedRefuelling="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid':
                      fixedRefuelling.errors && fixedRefuelling.touched
                  }"
                >
                  <option value="{{ true }}">Yes</option>
                  <option value="{{ false }}">No</option>
                </select>
                <div
                  class="invalid-feedback"
                  [hidden]="!fixedRefuelling.errors?.required"
                >
                  Fixed Refuelling Time is a required field
                </div>
              </div>
            </div>
            <!-- MANDATORY PITSTOP REFUELLING -->
            <div class="col-sm-3">
              <div class="form-group">
                <label for="mandatoryRefuelling">Mandatory Refuelling</label>
                <select
                  [(ngModel)]="
                    currentEvent.rules.isMandatoryPitstopRefuellingRequired
                  "
                  name="mandatoryRefuelling"
                  class="form-control"
                  #mandatoryRefuelling="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid':
                      mandatoryRefuelling.errors && mandatoryRefuelling.touched
                  }"
                >
                  <option value="{{ true }}">Yes</option>
                  <option value="{{ false }}">No</option>
                </select>
                <div
                  class="invalid-feedback"
                  [hidden]="!mandatoryRefuelling.errors?.required"
                >
                  Mandatory Refuelling is a required field
                </div>
              </div>
            </div>
            <!-- MANDATORY PITSTOP TYRE CHANGE -->
            <div class="col-sm-3">
              <div class="form-group">
                <label for="mandatoryTyreChange">Mandatory Tyre Change</label>
                <select
                  [(ngModel)]="
                    currentEvent.rules.isMandatoryPitstopTyreChangeRequired
                  "
                  name="mandatoryTyreChange"
                  class="form-control"
                  #mandatoryTyreChange="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid':
                      mandatoryTyreChange.errors && mandatoryTyreChange.touched
                  }"
                >
                  <option value="{{ true }}">Yes</option>
                  <option value="{{ false }}">No</option>
                </select>
                <div
                  class="invalid-feedback"
                  [hidden]="!mandatoryTyreChange.errors?.required"
                >
                  Mandatory Tyre Change is a required field
                </div>
              </div>
            </div>
            <!-- MANDATORY DRIVER CHANGE -->
            <div class="col-sm-3">
              <div class="form-group">
                <label for="mandatoryDriverChange"
                  >Mandatory Driver Change</label
                >
                <select
                  [(ngModel)]="
                    currentEvent.rules.isMandatoryPitstopSwapDriverRequired
                  "
                  name="mandatoryDriverChange"
                  class="form-control"
                  #mandatoryDriverChange="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid':
                      mandatoryDriverChange.errors &&
                      mandatoryDriverChange.touched
                  }"
                >
                  <option value="{{ true }}">Yes</option>
                  <option value="{{ false }}">No</option>
                </select>
                <div
                  class="invalid-feedback"
                  [hidden]="!mandatoryDriverChange.errors?.required"
                >
                  Mandatory Driver Change is a required field
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SESSIONS -->
      <div class="row">
        <div class="col">
          <app-event-session-form #sessionsData></app-event-session-form>
        </div>
      </div>
      <!-- SUBMIT BUTTON -->
      <button
        *ngIf="!isEditing"
        [disabled]="!eventForm.form.valid"
        (click)="addEvent(currentEvent, sessionsData.sessions)"
        class="btn btn-dark mt-3"
      >
        Add New Event
      </button>
      <button
        *ngIf="isEditing"
        [disabled]="!eventForm.form.valid"
        (click)="updateEvent()"
        class="btn btn-warning mt-3"
      >
        Update Event
      </button>
    </form>
  </div>
</div>
