<h2 class="page-header">Login</h2>
<form (submit)="onLoginSubmit()">
  <div class="form-group">
    <label>Username</label>
    <input
      [(ngModel)]="username"
      name="username"
      type="text"
      class="form-control"
      #usernameLogin="ngModel"
      required
      [ngClass]="{
        'is-invalid': usernameLogin.errors && usernameLogin.touched
      }"
    />
    <div [hidden]="!usernameLogin.errors?.required" class="invalid-feedback">
      Username is a required field
    </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input
      [(ngModel)]="password"
      name="password"
      type="password"
      class="form-control"
      #passwordLogin="ngModel"
      required
      [ngClass]="{
        'is-invalid': passwordLogin.errors && passwordLogin.touched
      }"
    />
    <div [hidden]="!passwordLogin.errors?.required" class="invalid-feedback">
      Password is a required field
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Login" />
</form>
<p>Don't have an account?&nbsp;<a routerLink="/register">Register</a></p>
