<app-server-form
  [currentServer]="currentServer"
  [isEditing]="isEditing"
  (newServer)="onNewServer($event)"
  (updatedServer)="onUpdatedServer($event)"
></app-server-form>
<!-- INIT Servers -->
<div class="container"></div>
<h4 *ngIf="servers?.length == 0">No Servers found!</h4>
<h4 *ngIf="!loaded">Loading servers...</h4>
<!-- SERVERS LIST -->
<div class="card" *ngFor="let server of servers">
  <div class="card-body">
    <!-- SERVER NAME (MANAGER), SERVER NAME (GAME), EVENT NAME, PORTS, PLAY/STOP BUTTON, STATUS ICON -->
    <div class="row">
      <div class="col">
        <h4>{{ server.name }}</h4>
      </div>
      <div class="col">
        {{ server.settings.serverName }}
      </div>
      <div class="col">
        {{ getEventDisplayName(server.eventId) }}
      </div>
      <div class="col">
        {{ server.configuration.tcpPort }}:{{ server.configuration.udpPort }}
      </div>
      <div class="col-sm-2">
        <div class="row">
          <div class="col">
            <fa-icon
              (click)="server.online = !server.online"
              [icon]="server.online ? iStop : iPlay"
            >
              ></fa-icon
            >
          </div>
          <div class="col">
            <fa-icon
              [icon]="iStatus"
              [ngStyle]="server.online ? { color: 'green' } : { color: 'red' }"
            ></fa-icon>
          </div>
        </div>
      </div>
      <div class="col">
        <button
          (click)="server.hide = !server.hide"
          class="btn btn-secondary float-right"
        >
          <fa-icon [icon]="server.hide ? iExpand : iCollapse"></fa-icon>
        </button>
      </div>
    </div>
    <!-- BEGIN EXPANDABLE SECTIONS -->
    <div *ngIf="!server.hide">
      <!-- CONFIGURATION CARD -->
      <div class="card mt-2">
        <div class="card-header"><h4>Configuration</h4></div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-group">
                <li class="list-group-item">
                  TCP Port: {{ server.configuration.tcpPort }}
                </li>
                <li class="list-group-item">
                  UDP Port: {{ server.configuration.udpPort }}
                </li>
                <li class="list-group-item">
                  Lan Discoverable:
                  {{ valueSwitcher(server.configuration.lanDiscovery) }}
                </li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-group">
                <li class="list-group-item">
                  Max Connections: {{ server.configuration.maxConnections }}
                </li>
                <li class="list-group-item">
                  Register To Lobby:
                  {{ valueSwitcher(server.configuration.registerToLobby) }}
                </li>
                <li class="list-group-item">
                  Config Version: {{ server.configuration.configVersion }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- SETTINGS CARD -->
      <div class="card mt-2">
        <div class="card-header"><h4>Settings</h4></div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <ul class="list-group">
                <li class="list-group-item">
                  Server Name: {{ server.settings.serverName }}
                </li>
                <li class="list-group-item">
                  Admin Password: {{ server.settings.adminPassword }}
                </li>
                <li class="list-group-item">
                  Password: {{ server.settings.password }}
                </li>
                <li class="list-group-item">
                  Spectator Password: {{ server.settings.spectatorPassword }}
                </li>
              </ul>
            </div>
            <div class="col-sm-3">
              <ul class="list-group">
                <li class="list-group-item">
                  Car Group: {{ server.settings.carGroup }}
                </li>
                <li class="list-group-item">
                  Car Slots: {{ server.settings.maxCarSlots }}
                </li>
                <li class="list-group-item">
                  Safety Rating: {{ server.settings.safetyRatingRequirement }}
                </li>
                <li class="list-group-item">
                  Racecraft Rating:
                  {{ server.settings.racecraftRatingRequirement }}
                </li>
              </ul>
            </div>
            <div class="col-sm-3">
              <ul class="list-group">
                <li class="list-group-item">
                  Track Medals: {{ server.settings.trackMedalsRequirement }}
                </li>
                <li class="list-group-item">
                  Formation Type: {{ server.settings.formationLapType }}
                </li>
                <li class="list-group-item">
                  Short Formation:
                  {{ valueSwitcher(server.settings.shortFormationLap) }}
                </li>
                <li class="list-group-item">
                  Race Locked: {{ valueSwitcher(server.settings.isRaceLocked) }}
                </li>
              </ul>
            </div>
            <div class="col-sm-3">
              <ul class="list-group">
                <li class="list-group-item">
                  Auto DQ: {{ valueSwitcher(server.settings.allowAutoDQ) }}
                </li>
                <li class="list-group-item">
                  Randomize When Empty:
                  {{ valueSwitcher(server.settings.randomizeTrackWhenEmpty) }}
                </li>
                <li class="list-group-item">
                  Dump Leaderboards:
                  {{ valueSwitcher(server.settings.dumpLeaderboards) }}
                </li>
                <li class="list-group-item">
                  Dump Entrylist:
                  {{ valueSwitcher(server.settings.dumpEntryList) }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- ASSIST RULES CARD -->
      <div class="card mt-2">
        <div class="card-header"><h4>Assist Rules</h4></div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <ul class="list-group">
                <li class="list-group-item">
                  SC Max Level:
                  {{ server.assistRules.stabilityControlLevelMax }}
                </li>
                <li class="list-group-item">
                  Disable Auto Steer:
                  {{ valueSwitcher(server.assistRules.disableAutoSteer) }}
                </li>
                <li class="list-group-item">
                  Disable Ideal Line:
                  {{ valueSwitcher(server.assistRules.disableIdealLine) }}
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="list-group">
                <li class="list-group-item">
                  Disable Auto Pit Limiter:
                  {{ valueSwitcher(server.assistRules.disableAutoPitLimiter) }}
                </li>
                <li class="list-group-item">
                  Disable Auto Gear:
                  {{ valueSwitcher(server.assistRules.disableAutoGear) }}
                </li>
                <li class="list-group-item">
                  Disable Auto Clutch:
                  {{ valueSwitcher(server.assistRules.disableAutoClutch) }}
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="list-group">
                <li class="list-group-item">
                  Disable Auto Engine Start:
                  {{ valueSwitcher(server.assistRules.disableAutoEngineStart) }}
                </li>
                <li class="list-group-item">
                  Disable Auto Wipers:
                  {{ valueSwitcher(server.assistRules.disableAutoWiper) }}
                </li>
                <li class="list-group-item">
                  Disable Auto Lights:
                  {{ valueSwitcher(server.assistRules.disableAutoLights) }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-0">
        <div class="col">
          <button
            (click)="deleteServer(server)"
            class="btn btn-danger float-right"
          >
            <fa-icon [icon]="iDelete"></fa-icon>
          </button>
          <button
            (click)="editServer(server)"
            class="btn btn-secondary float-right"
          >
            <fa-icon [icon]="iEdit"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
