<app-track-form
  [currentTrack]="currentTrack"
  [isEditing]="isEditing"
  (newTrack)="onNewTrack($event)"
  (updatedTrack)="onUpdatedTrack($event)"
></app-track-form>
<div class="container">
  <h4 *ngIf="tracks?.length == 0">No tracks found!</h4>
  <h4 *ngIf="!loaded">Loading tracks...</h4>
  <!-- TRACK LIST -->
  <div class="card" *ngFor="let track of tracks">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4>{{ track.name }}</h4>
        </div>
        <div class="col-sm-5">
          <span class="align-text-bottom">Season: {{ track.season }}</span>
        </div>
        <div class="col-sm-2 align-top">
          <button
            (click)="track.hide = !track.hide"
            class="btn btn-secondary float-right"
          >
            <fa-icon [icon]="track.hide ? iExpand : iCollapse"></fa-icon>
          </button>
        </div>
      </div>
      <div *ngIf="!track.hide" class="row mt-5">
        <div class="col-sm-4">Id: {{ track.identifier }}</div>
        <div class="col-sm-3">Pit Boxes: {{ track.pitBoxes }}</div>
        <div class="col-sm-3">Server Slots: {{ track.privateServerSlots }}</div>
        <div class="col-sm-2">
          <button
            (click)="deleteTrack(track)"
            class="btn btn-danger float-right"
          >
            <fa-icon [icon]="iDelete"></fa-icon>
          </button>
          <button
            (click)="editTrack(track)"
            class="btn btn-secondary float-right"
          >
            <fa-icon [icon]="iEdit"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
