<!-- EVENT FORM-->
<app-event-form
  [currentEvent]="currentEvent"
  [isEditing]="isEditing"
  (newEvent)="onNewEvent($event)"
  (updatedEvent)="onUpdatedEvent($event)"
></app-event-form>
<!-- INIT Events-->
<div class="container"></div>
<h4 *ngIf="events?.length == 0">No Events found!</h4>
<h4 *ngIf="!loaded">Loading events...</h4>
<!-- EVENT LIST -->
<div class="card" *ngFor="let event of events">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <h4>{{ event.name }}</h4>
      </div>
      <div class="col-sm-6">
        <button
          (click)="event.hide = !event.hide"
          class="btn btn-secondary float-right"
        >
          <fa-icon [icon]="event.hide ? iExpand : iCollapse"></fa-icon>
        </button>
      </div>
    </div>
    <div *ngIf="!event.hide">
      <!-- DETAILS CARD -->
      <div class="card mt-2">
        <div class="card-header"><h4>Details</h4></div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-group">
                <li class="list-group-item">
                  Track: {{ getTrackDisplayName(event.detail.track) }}
                </li>
                <li class="list-group-item">
                  Pre Race Waiting Time:
                  {{ event.detail.preRaceWaitingTimeSeconds }} seconds
                </li>
                <li class="list-group-item">
                  Session Over Time:
                  {{ event.detail.sessionOverTimeSeconds }} seconds
                </li>
                <li class="list-group-item">
                  Ambient Temperature: {{ event.detail.ambientTemp }} Celcius
                </li>
                <li class="list-group-item">
                  Cloud Level: {{ event.detail.cloudLevel }}
                </li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-group">
                <li class="list-group-item">Rain: {{ event.detail.rain }}</li>
                <li class="list-group-item">
                  Weather Randomness: {{ event.detail.weatherRandomness }}
                </li>
                <li class="list-group-item">
                  Post Qualifying Time:
                  {{ event.detail.postQualySeconds }} seconds
                </li>
                <li class="list-group-item">
                  Post Race Time: {{ event.detail.postRaceSeconds }} seconds
                </li>
                <li class="list-group-item">
                  Config Version: {{ event.detail.configVersion }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- RULES CARD -->
      <div class="card mt-2">
        <div class="card-header"><h4>Rules</h4></div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-group">
                <li class="list-group-item">
                  Qualifying Type: {{ event.rules.qualifyStandingType }}
                </li>
                <li class="list-group-item">
                  Pit Window Length:
                  {{ event.rules.pitWindowLengthSec }} seconds
                </li>
                <li class="list-group-item">
                  Driver Stint Length:
                  {{ event.rules.driverStintTimeSec }} seconds
                </li>
                <li class="list-group-item">
                  Mandatory Pit Stop Count:
                  {{ event.rules.mandatoryPitstopCount }}
                </li>
                <li class="list-group-item">
                  Max Driving Time:
                  {{ event.rules.maxTotalDrivingTime }} seconds
                </li>
                <li class="list-group-item">
                  Max Driver Count: {{ event.rules.maxDriversCount }}
                </li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-group">
                <li class="list-group-item">
                  Allow Refuelling: {{ event.rules.isRefuellingAllowedInRace }}
                </li>
                <li class="list-group-item">
                  Fixed Time Refuelling: {{ event.rules.isRefuellingTimeFixed }}
                </li>
                <li class="list-group-item">
                  Mandatory Pitstop Refuelling:
                  {{ event.rules.isMandatoryPitstopRefuellingRequired }}
                </li>
                <li class="list-group-item">
                  Mandatory Pitstop Tyre Change:
                  {{ event.rules.isMandatoryPitstopTyreChangeRequired }}
                </li>
                <li class="list-group-item">
                  Mandatory Pitstop Driver Change:
                  {{ event.rules.isMandatoryPitstopSwapDriverRequired }}
                </li>
                <li class="list-group-item">
                  Tyre Sets: {{ event.rules.tyreSetCount }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-header"><h4>Sessions</h4></div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4" *ngFor="let session of event.detail.sessions">
              <ul class="list-group">
                <li class="list-group-item">
                  Type: {{ getSessionTypeDisplayName(session.sessionType) }}
                </li>
                <li class="list-group-item">
                  Day of Weekend:
                  {{ getDayDisplayName(session.dayOfWeekend) }}
                </li>
                <li class="list-group-item">
                  Start Hour: {{ session.hourOfDay }}
                </li>
                <li class="list-group-item">
                  Duration: {{ session.sessionDurationMinutes }}
                </li>
                <li class="list-group-item">
                  Time Multiplier: {{ session.timeMultiplier }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-0">
        <div class="col">
          <button
            (click)="deleteEvent(event)"
            class="btn btn-danger float-right"
          >
            <fa-icon [icon]="iDelete"></fa-icon>
          </button>
          <button
            (click)="editEvent(event)"
            class="btn btn-secondary float-right"
          >
            <fa-icon [icon]="iEdit"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <!-- Bottom of Event -->
  </div>
</div>
