<app-profile-header></app-profile-header>
<h4 *ngIf="users?.length == 0">No users found!</h4>
<h4 *ngIf="!loaded">Loading users...</h4>
<!-- USER LIST -->
<div *ngFor="let user of users">
  <app-profile
    [user]="user"
    (deletedUser)="onDeleteUser($event)"
    (updatedUser)="onUpdatedUser($event)"
  ></app-profile>
</div>
