<app-profile-header *ngIf="currentRoute == '/profile'"></app-profile-header>
<div *ngIf="user">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <!-- Name and Username -->
        <div class="col-sm-5">
          <h4>
            {{ user.name
            }}<span style="font-size: smaller"
              >&nbsp;<small>({{ user.username }})</small></span
            >
          </h4>
        </div>
        <!-- Email -->
        <div class="col-sm-4">
          {{ user.email }}
        </div>
        <!-- is Authorized -->
        <div class="col-sm-1">
          <form>
            <input
              type="checkbox"
              ng-model="checkboxModel.authorized"
              (click)="onAuthorizedCheck(user)"
              [attr.checked]="user.authorized ? 'checked' : null"
              [attr.disabled]="
                authenticationService.isOwner() ? null : 'disabled'
              "
            />
          </form>
        </div>
        <!-- is Owner -->
        <div class="col-sm-1">
          <input
            type="checkbox"
            ng-model="checkboxModel.owner"
            (click)="onOwnerCheck(user)"
            [attr.checked]="user.owner ? 'checked' : null"
            [attr.disabled]="
              authenticationService.isOwner() ? null : 'disabled'
            "
          />
        </div>
        <!-- Delete Button -->
        <div *ngIf="authenticationService.isOwner()" class="col-sm-1">
          <button
            (click)="deleteUser(user)"
            class="btn btn-danger btn-sm float-right"
          >
            <fa-icon [icon]="iDelete"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
