<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a
      href="#nav-tracks"
      class="nav-item nav-link active"
      id="nav-tracks-tab"
      data-toggle="tab"
      role="tab"
      aria-controls="nav-tracks"
      aria-selected="true"
      >Tracks</a
    >
    <a
      href="#nav-users"
      class="nav-item nav-link"
      id="nav-users-tab"
      data-toggle="tab"
      role="tab"
      aria-controls="nav-users"
      aria-selected="false"
      >Users</a
    >
  </div>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="nav-tracks"
      role="tabpanel"
      aria-labelledby="nav-tracks-tab"
    >
      <app-tracks></app-tracks>
    </div>
    <div
      class="tab-pane fade"
      id="nav-users"
      role="tabpanel"
      aria-labelledby="nav-users-tab"
    >
      <app-users></app-users>
    </div>
  </div>
</nav>
