<h2 class="page-header">Register</h2>
<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label>Name</label>
    <input
      [(ngModel)]="user.name"
      name="name"
      type="text"
      class="form-control"
      #nameRegister="ngModel"
      required
      minlength="2"
      [ngClass]="{ 'is-invalid': nameRegister.errors && nameRegister.touched }"
    />
    <div [hidden]="!nameRegister.errors?.required" class="invalid-feedback">
      Name is a required field
    </div>
    <div [hidden]="!nameRegister.errors?.minlength" class="invalid-feedback">
      Name must be at least 2 characters
    </div>
  </div>
  <div class="form-group">
    <label>Username</label>
    <input
      [(ngModel)]="user.username"
      name="username"
      type="text"
      class="form-control"
      #usernameRegister="ngModel"
      required
      minlength="2"
      [ngClass]="{
        'is-invalid': usernameRegister.errors && usernameRegister.touched
      }"
    />
    <div [hidden]="!usernameRegister.errors?.required" class="invalid-feedback">
      Username is a required field
    </div>
    <div
      [hidden]="!usernameRegister.errors?.minlength"
      class="invalid-feedback"
    >
      Username must be at least 2 characters
    </div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input
      [(ngModel)]="user.email"
      name="email"
      type="email"
      class="form-control"
      #emailRegister="ngModel"
      required
      pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      [ngClass]="{
        'is-invalid': emailRegister.errors && emailRegister.touched
      }"
    />
    <div [hidden]="!emailRegister.errors?.required" class="invalid-feedback">
      Email is a required field
    </div>
    <div [hidden]="!emailRegister.errors?.pattern" class="invalid-feedback">
      Invalid Email address
    </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input
      [(ngModel)]="user.password"
      name="password"
      type="password"
      class="form-control"
      #passwordRegister="ngModel"
      required
      minlength="8"
      [ngClass]="{
        'is-invalid': passwordRegister.errors && passwordRegister.touched
      }"
    />
    <div [hidden]="!passwordRegister.errors?.required" class="invalid-feedback">
      Password is a required field
    </div>
    <div
      [hidden]="!passwordRegister.errors?.minlength"
      class="invalid-feedback"
    >
      Password must be at least 8 characters
    </div>
  </div>
  <div class="form-group">
    <label>Re-enter Password</label>
    <input
      [(ngModel)]="passwordConfirm"
      name="password2"
      type="password"
      class="form-control"
      #password2Register="ngModel"
      required
      minlength="8"
      [ngClass]="{
        'is-invalid': password2Register.errors && password2Register.touched
      }"
    />
    <div
      [hidden]="!password2Register.errors?.required"
      class="invalid-feedback"
    >
      Password is a required field
    </div>
    <div
      [hidden]="!password2Register.errors?.minlength"
      class="invalid-feedback"
    >
      Password must be at least 8 characters
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Submit" />
</form>
<p>Already have an account?&nbsp;<a routerLink="/login">Login</a></p>
