<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
  <div class="container">
    <!-- Brand Link -->
    <a class="navbar-brand" routerLink="/">ACC Server Manager</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarMain"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <!-- Servers Link -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/servers"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Servers</a
          >
        </li>
        <!-- Events Link -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/events"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Events</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <!-- Settings Link -->
        <li *ngIf="authenticationService.isOwner()" class="nav-item">
          <a
            class="nav-link"
            routerLink="/settings"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            ><fa-icon [icon]="faCog"></fa-icon
          ></a>
        </li>
        <!-- Profile Link -->
        <li *ngIf="authenticationService.loggedIn()" class="nav-item">
          <a
            class="nav-link"
            routerLink="/profile"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            ><fa-icon [icon]="faUser"></fa-icon
          ></a>
        </li>
        <!-- Login Link -->
        <li *ngIf="!authenticationService.loggedIn()" class="nav-item">
          <a
            class="nav-link"
            routerLink="/login"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Login</a
          >
        </li>
        <!-- Logout Link -->
        <li *ngIf="authenticationService.loggedIn()" class="nav-item">
          <a (click)="onLogoutClick()" href="#" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
