<div class="card text-white bg-dark mt-5">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-5">
        Name<span style="font-size: smaller"
          >&nbsp;<small>(username):</small></span
        >
      </div>
      <div class="col-sm-4">Email:</div>
      <div class="col-sm-1">Access:</div>
      <div class="col-sm-1">Owner:</div>
    </div>
  </div>
</div>
